# Data processing

## Imports

In [29]:
import pandas as pd
import numpy as np
import warnings

### Config

In [30]:
warnings.filterwarnings('ignore')

## Processing

In [31]:
train_data = pd.read_csv('../datasets/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
num_data = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
cat_data = ['Sex', 'Embarked']

In [33]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [34]:
train_data.dropna(subset=['Age'], inplace=True)
train_data.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Sex          714 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        714 non-null    int64
 6   Parch        714 non-null    int64
 7   Fare         714 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.8+ KB

In [35]:
train_data['SurvivedStr'] = train_data['Survived'].replace({0: "No", 1: "Yes"})
train_data['FareLog2'] = np.log2(train_data['Fare'])
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,SurvivedStr,FareLog2
0,1,0,3,male,22.0,1,0,7.2500,S,No,2.857981
1,2,1,1,female,38.0,1,0,71.2833,C,Yes,6.155492
2,3,1,3,female,26.0,0,0,7.9250,S,Yes,2.986411
3,4,1,1,female,35.0,1,0,53.1000,S,Yes,5.730640
4,5,0,3,male,35.0,0,0,8.0500,S,No,3.008989

In [36]:
survived = train_data.query('Survived==1')
not_survived = train_data.query('Survived==0')
print(survived.shape)
print(not_survived.shape)

(290, 11)
(424, 11)

In [37]:
train_data.to_csv('../datasets/train_processed.csv', index=False)
survived.to_csv('../datasets/survived_processed.csv', index=False)
not_survived.to_csv('../datasets/not_survived_processed.csv', index=False)